html{
  background: green;
}
h1{
  color: white;
  font-family: helvetica;
  border: 5px;
  border-style: dashed white;
  text-align: center;
}

h4{
  color: white;
  background:green;
  display:inline;
  font-family:  monospace;
  text-decoration: underline;

}

p{
  color: white;
  background: green;
}

.more-content{
  background-color:green;

}

#something-else{
  border:5px  #FF0000
}

ul{
  color: white;
  font-family: cursive;
}

ol{
  color: white;
  font-family:sans-serif;
}
