html{
  background: green;
}
h1{
  color: white;
  font-family: helvetica;
}

h4{
  color: white;
  background:green;
  display:inline;
  font-family:  monospace;
  text-decoration: underline;

}

p{
  color: white;
  background: green;
}

.more-content{
  background-color:green;

}

#something-else{
  border:5px  #FF0000
}
