html{
  background: green;
}
h1{
  color: white;
  font-family: helvetica;
  text-align: center;
}

h4{
  color: white;
  background:green;
  display:inline;
  font-family:  monospace;
  text-decoration: underline;

}
h3{
  color: white;
  font-family: helvetica;

}

p{
  color: white;
  background: green;
}

.more-content{
  background-color:green;

}

#educationGoals{
  border: solid;
  border-color: white;
  border-radius: 100px;
  display: inline-block;
  padding: 15px;
}

#topTenList{
  border:solid;
  border-color: white;
  border-radius: 100px;
  display: inline-block;
  padding: 15px;
}
#something-else{
  border:5px  #FF0000
}

ul{
  color: white;
  font-family: cursive;
}

ol{
  color: white;
  font-family:sans-serif;
}
